<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{37.4278209,-122.1765556}</string>
	<string>{37.4278209,-122.1765557}</string>
	<string>{37.4278209,-122.1765558}</string>
	<string>{37.4278209,-122.1765559}</string>
</array>
</plist>
