<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Gates</string>
		<key>location</key>
		<string>{37.4301566,-122.175685}</string>
		<key>type</key>
		<string>2</string>
		<key>subtitle</key>
		<string>Stanford</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Memorial Auditorium</string>
		<key>location</key>
		<string>{37.4289343,-122.1686884}</string>
		<key>type</key>
		<string>1</string>
		<key>subtitle</key>
		<string>Stanford</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arrillaga Outdoor Education and Recreation Center</string>
		<key>location</key>
		<string>{37.4267583,-122.1796955}</string>
		<key>type</key>
		<string>3</string>
		<key>subtitle</key>
		<string>Stanford</string>
	</dict>
</array>
</plist>
